.postCreator {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
    z-index: 55;

    max-width: 600px;
    border-radius: 7px;

    background-color: var(--background-color-accent);
    padding: 15px;

    transition: all 250ms ease-in-out;

    .actions {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 100%;

        transition: all 150ms ease-in-out;

        color: var(--text-color) !important;

        .ant-btn {
            margin-left: 10px;
            font-size: 1rem;

            svg {
                margin: 0 !important;
                color: var(--text-color) !important;
            }
        }
    }

    .uploader {
        position: relative;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        padding: 10px;

        overflow: hidden;
        overflow-x: scroll;

        transition: all 150ms ease-in-out;

        &.visible {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            z-index: 150;

            display: flex;

            padding: 0;

            align-items: center;
            justify-content: center;

            border: 0;

            .ant-upload-drag {
                width: 100%;
                height: 100%;

                opacity: 1;
            }

            .ant-upload-list {
                opacity: 0;
            }
        }

        .ant-upload-drag {
            opacity: 0;
            width: 0;
            height: 0;

            background-color: transparent !important;
            border: 0;
        }

        .ant-upload-wrapper {
            position: relative;

            display: flex;
            flex-direction: column;

            justify-content: center;

            background-color: transparent;
            backdrop-filter: blur(8px);

            width: 100%;
            height: 100%;

            overflow: hidden;

            .ant-upload-list {
                display: flex;
                flex-direction: row;

                width: 100%;

                overflow-x: auto;
                overflow-y: hidden;

                white-space: nowrap;

                align-items: center;
                justify-content: flex-start;

                border-radius: 10px;

                .ant-upload-list-item-container {
                    background-color: black;

                    width: 10vw;
                    height: 10vw;

                    margin-left: 10px;

                    border-radius: 7px;

                }
            }

        }

        .ant-upload-list-item-actions {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 100%;

            font-size: 2rem;
        }

        .hint {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
            align-self: center;

            text-align: center;

            background-color: transparent;

            font-size: 0.8rem;

            padding: 10px;

            svg {
                font-size: 1.5rem;
                margin-bottom: 6px;
                margin-right: 0 !important;
            }
        }

        .file {
            position: relative;

            width: 10vw;
            height: 10vw;

            font-size: 2rem;

            transition: all 150ms ease-in-out;

            border-radius: 10px;

            &.uploading {
                img {
                    opacity: 0.5;
                }

                .actions {
                    backdrop-filter: blur(5px);
                    opacity: 1;
                }
            }

            &:hover {
                .actions {
                    opacity: 1;
                    backdrop-filter: blur(2px);
                }

                .preview {
                    opacity: 0.5;
                }
            }

            .preview {
                position: absolute;
                top: 0;
                left: 0;

                img {
                    width: 100%;
                    height: 100%;

                    transition: all 150ms ease-in-out;
                    border-radius: 10px;
                }
            }

            .actions {
                display: flex;
                flex-direction: column;

                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;

                transition: all 150ms ease-in-out;

                backdrop-filter: blur(0);

                opacity: 0;

                svg {
                    margin: 0;
                }
            }
        }
    }

    .textInput {
        display: flex;

        width: 100%;

        transition: all 150ms ease-in-out;

        svg {
            margin: 0 !important;
        }

        .avatar {
            width: fit-content;
            height: 45px;

            display: flex;

            img {
                width: 45px;
                height: 45px;
                border-radius: 12px;
            }
        }

        textarea {
            color: var(--text-color);
        }

        textarea::placeholder {
            color: rgb(var(--bg_color_4));
        }

        .textArea {
            border-radius: 8px !important;
            transition: all 150ms ease-in-out !important;

            &.active {
                background-color: var(--background-color-primary);
            }
        }

        .ant-btn-primary {
            z-index: 10;
            position: relative;
            border-radius: 0 10px 10px 0;
            height: 100%;
            vertical-align: bottom;
            border: none;
            box-shadow: none;

            svg {
                color: var(--text-color) !important;
            }
        }

        .ant-input {
            background-color: var(--background-color-accent);

            z-index: 10;
            position: relative;
            border-color: transparent !important;
            box-shadow: none;
            border-radius: 3px 0 0;
            height: 100%;
            padding: 5px 10px;
            transition: height 150ms linear;
            width: 100%;
        }

        .ant-btn-primary[disabled] {
            background-color: var(--background-color-accent);
        }

        .ant-input-affix-wrapper {
            height: 100%;

            border: 0;
            outline: 0;
            box-shadow: none;
        }
    }
}