.loginPage {
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    width: 100vw;
    height: 100vh;

    font-family: "Space Grotesk", sans-serif;

    .background {
        position: absolute;

        z-index: 50;

        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        svg {
            margin: 0;

            opacity: 0;

            animation: opacityIn 3s ease-in-out 0s forwards;
        }

        background-image: radial-gradient(rgba(var(--layout-background-contrast), 0.5) 1px, transparent 0),
        radial-gradient(rgba(var(--layout-background-contrast), 0.3) 1px, transparent 0);

        background-position: 0 0,
        25px 25px;
        background-size: 50px 50px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;

        position: relative;

        z-index: 55;

        background-color: var(--background-color-accent);
        outline: 1px solid var(--border-color);
        border-radius: 12px;

        min-height: 50vh;

        .wrapper_background {
            height: 100%;
            width: 300px;

            border-radius: 12px;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .content {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            max-width: 500px;

            padding: 40px;

            .content_header {
                height: 70px;

                margin-bottom: 50px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .actions {
                display: flex;
                flex-direction: column;

                align-items: center;
                justify-content: center;

                width: 100%;

                margin-bottom: 20px;

                .ant-btn {
                    width: 100%;
                    margin-bottom: 20px;

                    font-weight: 500;
                    letter-spacing: -0.6px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}