.page_header {
    position: sticky;

    z-index: 100;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    // hidden values
    padding: 0;
    opacity: 0;
    height: 0px;
    width: 100%;

    transition: all 150ms ease-in-out;

    backdrop-filter: blur(10px);

    &.visible {
        opacity: 1;
        height: 50px;
        padding: 20px;
    }
}