@import "theme/vars.less";

.sidedrawers-wrapper {
    display: flex;
    flex-direction: row;

    &.floating-sidebar {
        z-index: 950;
        position: absolute;
        margin-left: @app_sidebar_width;
    }
    
    .sidedrawer {
        position: relative;

        width: auto; // by default
        height: 100vh;

        min-width: 400px;

        z-index: 20;

        background-color: var(--sidedrawer-background-color);
        border-radius: 0 @app_sidebar_borderRadius @app_sidebar_borderRadius 0;

        padding: 20px;
        padding-left: 30px;

        transform: translate(-20px, 0);

        overflow-x: hidden;
        overflow-y: overlay;

        word-break: break-all;
        transition: all 150ms ease-in-out;

        // create shadow on the right side
        box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1) !important;

        &.first {
            transform: translate(-10px, 0);
        }

        &.hided {
            width: 0;
            min-width: 0;
            padding: 0;
        }
    }
}