.about_app {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 0 20px 20px 20px;

    background-color: var(--background-color-accent);
    color: var(--text-color);

    border-radius: 12px;

    .header {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-self: center;

        width: 100%;

        margin-bottom: 20px;

        padding: 20px 0;
        border-bottom: 1px solid var(--border-color);

        .branding {
            display: flex;
            flex-direction: row;

            align-items: center;

            .logo {
                width: 60px;
                height: 100%;

                margin-right: 20px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .texts {
                display: flex;
                flex-direction: column;
            }

            h1,
            h2,
            h3 {
                height: fit-content;
                line-height: 24px;
            }

            span {
                height: fit-content;
                color: var(--background-color-contrast);
                font-size: 10px;
            }
        }
    }

    .group {
        display: inline-flex;

        flex-direction: column;
        justify-content: center;

        margin-bottom: 10px;

        background-color: var(--background-color-primary);

        border-radius: 12px;

        padding: 15px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .field {
            display: inline-flex;
            flex-direction: column;

            margin-bottom: 10px;

            .field_header {
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: space-between;

                font-size: 0.8rem;

                margin-bottom: 8px;

                h3 {
                    margin: 0;
                }
            }

            .field_value {
                font-size: 0.9rem;

                display: inline-flex;
                flex-direction: row;

                margin-left: 10px;

                font-family: "DM Mono", monospace;

                background-color: var(--background-color-accent);
                border-radius: 7px;
                padding: 7px;

                .ant-progress {
                    margin: 0;
                }
            }
        }

        .group_footer {
            display: flex;
            flex-direction: row;

            justify-content: center;
            align-items: center;

            margin-top: 10px;

            .button {
                margin-left: 10px;
            }
        }
    }
}