.postCard {
    display: flex;
    flex-direction: column;

    width: 35vw;
    min-width: 300px;
    max-width: 600px;

    //min-height: 165px;
    //height: 100%;
    max-width: 800px;

    background-color: var(--background-color-accent);

    transition: all 150ms ease-in-out;

    padding: 17px;

    border-bottom: 2px solid var(--border-color);

    padding-bottom: 10px;

    overflow: visible;

    .post_content {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 0 10px 10px 10px;
        border-radius: 8px;

        color: rgba(var(--background-color-contrast));

        overflow: hidden;

        transition: all 0.2s ease-in-out;

        z-index: 190;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span {
            color: var(--text-color);
        }

        &.nsfw {
            .message {
                filter: blur(10px);
            }

            .post_attachments {
                filter: blur(25px);
            }
        }

        .nsfw_alert {
            position: absolute;

            padding: 10px 0;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            // -webkit-backdrop-filter: blur(25px);
            // backdrop-filter: blur(25px);
            //background-color: rgba(0, 0, 0, 0.5);

            border-radius: 8px;

            z-index: 200;

            h2 {
                color: #fff;
            }
        }

        .message {
            width: 100%;

            font-size: 0.9rem;
            font-weight: 400;

            color: var(--background-color-contrast);

            word-break: break-all;
            white-space: pre-wrap;

            user-select: text;
        }

        >div {
            margin-bottom: 10px;
        }
    }

    &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        border-bottom: none;
        padding-bottom: 0;
    }
}