.postList {
    width: 100%;

    // WARN: Only use if is a performance issue (If is using virtualized list)
    //will-change: transform;

    overflow: hidden;
    overflow-y: overlay;

    height: max-content;

    display: flex;
    flex-direction: column;

    align-items: center;

    border-radius: 8px;

    margin: auto;
}

.resume_btn_wrapper {
    z-index: 200;

    position: absolute;

    top: 0;
    right: 0;

    transform: translate(0, -50%);

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    animation: fadeIn 150ms ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}