.widgets_wrapper {
    gap: 20px;

    width: 20vw;

    .widgets_wrapper_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .widget_item {
        display: flex;
        flex-direction: column;

        border: 1px var(--border-color) solid;

        border-radius: 12px;

        padding: 10px;

        width: 100%;

        overflow: hidden;
    }
}