.searcher {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;

    gap: 20px;

    .ant-input-affix-wrapper {
        border: 0;
        padding: 0;
        margin: 0;

        height: 60px;
        border-radius: 10px;

        padding: 0 10px;

        .ant-input-prefix {
            font-size: 2rem;

            svg {
                color: var(--text-color);
            }
        }

        .ant-input {
            height: 100%;
            color: var(--text-color);

            font-size: 1rem;
        }
    }

    .results {
        position: relative;

        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: center;

        width: 100%;

        padding: 10px;

        background-color: var(--background-color-primary);

        border-radius: 8px;

        gap: 10px;

        .category {
            h3 {
                font-size: 1rem;
                font-weight: 600;
            }

            width: 100%;

            gap: 10px;

            .suggestions {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                gap: 10px;

                .suggestion {
                    width: 100%;

                    padding: 10px;

                    border-radius: 8px;

                    background-color: var(--background-color-accent);
                }
            }
        }
    }

    .ant-empty {
        align-self: center;
    }
}