.playlistTimelineEntry {
    display: flex;
    flex-direction: column;

    width: 35vw;
    min-width: 300px;
    max-width: 600px;

    //min-height: 165px;
    height: 100%;
    max-width: 800px;

    background-color: var(--background-color-accent);

    transition: all 150ms ease-in-out;

    padding: 17px;

    border-bottom: 2px solid var(--border-color);

    padding-bottom: 10px;

    overflow: visible;

    .playlistTimelineEntry_content {
        display: flex;

        flex-direction: row;

        justify-items: center;

        width: 100%;

        gap: 20px;

        .playlistTimelineEntry_thumbnail {
            img {
                width: 150px;
                height: 150px;

                object-fit: cover;

                border-radius: 12px;

                cursor: pointer;
            }
        }

        .playlistTimelineEntry_info {
            position: relative;

            display: flex;
            flex-direction: column;

            justify-content: center;

            gap: 10px;

            width: 100%;

            .playlistTimelineEntry_title {
                h1 {
                    font-size: 1.5rem;
                    font-weight: 600;

                    font-family: "Space Grotesk", sans-serif;

                    margin-top: 0;
                    margin-bottom: 5px;

                    color: var(--text-color);

                    text-decoration: underline 0.12em rgba(0, 0, 0, 0);

                    transition: all 150ms ease-in-out;

                    cursor: pointer;

                    &:hover {
                        color: var(--colorPrimary);

                        text-decoration-color: var(--colorPrimary);
                    }
                }
            }

            .playlistTimelineEntry_statistics {
                display: flex;
                flex-direction: row;

                width: 100%;

                gap: 20px;

                align-items: center;

                align-self: flex-end;

                font-size: 0.9rem;

                .playlistTimelineEntry_statistic {
                    display: flex;
                    flex-direction: row;

                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .playlistTimelineEntry_actions {
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            gap: 10px;

            .playlistTimelineEntry_action {
                display: flex;
                flex-direction: row;

                justify-content: center;

                gap: 10px;
            }
        }
    }

    &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        border-bottom: none;
        padding-bottom: 0;
    }
}