.play {
    display: grid;

    grid-template-columns: 30vw 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    .play_info_wrapper {
        position: sticky;

        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: fit-content;

        color: var(--text-color);

        .play_info {
            display: flex;
            flex-direction: column;

            align-self: center;

            width: 30vw;
            height: 100%;

            padding: 20px;

            background-color: var(--background-color-accent);
            border-radius: 12px;

            .play_info_cover {
                display: flex;
                flex-direction: column;

                align-items: center;
                justify-content: center;

                align-self: center;

                width: 20vw;
                height: 20vw;

                max-width: 400px;
                max-height: 400px;

                background-color: black;
                border-radius: 12px;

                overflow: hidden;

                img {
                    width: 20vw;
                    height: 20vw;

                    max-width: 400px;
                    max-height: 400px;

                    border-radius: 12px;

                    object-fit: cover;
                }
            }

            .play_info_details {
                padding: 20px;

                .play_info_title {
                    font-size: 1.5rem;
                    font-family: "Space Grotesk", sans-serif;

                    h1 {
                        margin: 0;
                    }

                    word-break: break-all;

                    font-weight: 600;

                    margin-bottom: 10px;
                }

                .play_info_description {
                    font-size: 0.8rem;
                    font-weight: 400;
                }

                .play_info_statistics {
                    display: flex;
                    flex-direction: column;

                    margin-top: 20px;

                    background-color: var(--background-color-primary);

                    padding: 20px;

                    border-radius: 8px;

                    .play_info_statistics_item {
                        display: flex;
                        flex-direction: row;

                        align-items: center;

                        margin-bottom: 10px;

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p,
                        span {
                            margin: 0;
                        }

                        .play_info_statistics_item_icon {
                            margin-right: 10px;
                        }

                        .play_info_statistics_item_text {
                            font-size: 0.8rem;
                            font-weight: 400;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                }
            }
        }
    }

    .list {
        display: flex;
        flex-direction: column;

        color: var(--text-color);

        padding: 20px 30px;
    }
}


.track_item {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 8px;

    background-color: var(--background-color-accent);

    cursor: pointer;

    .track_item_actions {
        margin-right: 10px;

        .ant-btn {
            svg {
                margin: 0 !important;

                background-color: transparent;
            }

            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .track_item_cover {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        background-color: black;

        border-radius: 12px;

        overflow: hidden;

        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .track_item_details {
        display: flex;
        flex-direction: column;

        margin-left: 10px;

        .track_item_title {
            font-size: 1rem;
            font-family: "Space Grotesk", sans-serif;
        }

        .track_item_artist {
            font-size: 0.8rem;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}