//* Now this only works as an fallback for unset dynamic theme values

@app_frameDecorator_height: 20px;

@app_bottomBar_height: 60px;
@app_bottomBar_iconSize: 45px;

@app_sidebar_width: 80px;
@app_sidebar_width_expanded: 230px;

// borders & radius
@app_sidebar_borderRadius: 18px;

// SIZES
@app_header_height: 5vh;
@fixedHeader100VH: @app_header_height - 100vh;

@app_menuItemSize: 100px;
@app_menuItemIconSize: 30px;
@app_menuItemTextSize: 12px;

// TRANSITIONS
@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@transition-ease-inout: all 150ms ease-in-out;