.userPreview {
    display: inline-flex;
    flex-direction: row;

    align-items: center;

    gap: 10px;

    svg {
        fill: var(--app-color);
        margin-left: 6px;
    }

    &.clickable {
        cursor: pointer;
    }

    &.small {
        font-size: 0.8em;

        gap: 7px;

        .avatar {
            width: 30px;
            height: 30px;
        }
    }

    .avatar {
        display: flex;

        align-items: center;
        justify-content: center;

        align-self: center;
        justify-self: center;

        width: 40px;
        height: 40px;

        .lazy-load-image-background {
            width: 100%;
            height: 100%;
        }

        transform: translate(0, 3px);

        img {
            object-fit: cover;

            width: 100%;
            height: 100%;

            border-radius: 8px;
        }
    }

    .info {
        display: inline-flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: center;

        width: fit-content;
        height: fit-content;

        color: var(--background-color-contrast);

        h1 {
            color: var(--background-color-contrast);
            font-size: 1em;

            margin: 0;
        }

        span {
            color: var(--text-color);
            font-size: 0.8em;

            margin: 0;
        }

        >div {
            align-self: start;
        }
    }
}