.streamingControlPanel {
    display: flex;
    flex-direction: column;

    width: 100%;

    transition: all 0.3s ease-in-out;

    .streamingControlPanel_header {
        display: flex;
        flex-direction: row;

        height: fit-content;

        padding: 15px;

        border: 1px solid var(--border-color);
        border-radius: 12px;

        margin-bottom: 20px;

        transition: all 0.3s ease-in-out;

        .streamingControlPanel_header_thumbnail {
            align-self: center;
            justify-self: center;

            border-radius: 12px;

            height: 100%;
            width: 100%;

            img {
                height: 15vh;
                width: 20vw;

                object-fit: cover;

                border-radius: 12px;
            }

            margin-right: 40px;
        }

        .streamingControlPanel_header_details {
            display: inline-flex;
            flex-direction: column;

            padding: 20px 0;
            width: 100%;

            .streamingControlPanel_header_details_status {
                margin-bottom: 20px;
            }

            color: var(--text-color);
        }

        .streamingControlPanel_header_actions {
            display: flex;
            flex-direction: row;

            justify-items: center;

            gap: 10px;

            .ant-select {
                height: fit-content;
                min-width: 300px;
            }
        }
    }

    .config {
        display: flex;
        flex-direction: column;

        padding: 0 40px;

        transition: all 0.3s ease-in-out;

        gap: 20px;

        code {
            padding: 5px 8px;
            font-size: 1rem;

            background-color: var(--background-color-accent);
            color: var(--text-color);

            border-radius: 8px;

            font-family: "DM Mono", monospace;

            user-select: all;
        }

        .panel {
            display: flex;
            flex-direction: column;

            align-items: flex-start;

            h1,
            h2,
            h3 {
                margin-bottom: 0;
            }

            .content {
                .title {
                    display: inline-flex;
                    flex-direction: row;

                    justify-content: space-between;

                    width: 100%;
                }

                display: flex;
                flex-direction: column;

                margin: 10px 20px;

                width: 100%;
            }
        }
    }
}