.infinite-scroll {
    min-height: 32vw;
    position: relative;

    .no-result {
        text-align: center;
    }

    .bottom {
        width: 100%;
    }

    .list-loader {
        height: 16vw;
        margin: auto;
        width: 16vw;
    }
}