.compressorValues {
    display: flex;
    flex-direction: row;

    padding: 20px;

    width: 100%;

    &.disabled {
        opacity: 0.5;
    }

    transition: all 150ms ease-in-out;

    .compressorValues_slider {
        display: flex;
        flex-direction: column;

        align-items: center;

        height: 100%;
        width: 100%;

        gap: 20px;

        .MuiSlider-vertical {
            min-height: 300px;
        }
    }
}