.floating_stack {
    position: absolute;
    z-index: 300;

    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    max-width: 270px;

    gap: 20px;

    margin: 20px;

    transition: all 0.3s ease-in-out;

    &.hidden {
        transform: translateX(100%);
        opacity: 0;
    }
}

.floating_stack_item {
    width: 100%;
}