.post_creator_modal {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(var(--layoutBackgroundColor) 0.7);
    backdrop-filter: blur(10px);

    transition: all 150ms ease-in-out;

    opacity: 0;

    animation: fadeOut 150ms ease-in-out forwards;

    &.visible {
        animation: fadeIn 150ms ease-in-out forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}