.userCard {
    display: flex;
    flex-direction: column;

    background-color: var(--background-color-accent);
    border-radius: 12px;
    padding: 20px;

    height: fit-content;
    width: 20vw;
    min-width: 400px;

    transition: all 0.3s ease-in-out;

    outline: 1px solid var(--border-color);

    filter: drop-shadow(0 0 20px var(--border-color));

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        margin: 0;
    }

    .avatar {
        display: flex;
        flex-direction: row;
        justify-content: center;

        height: 10vh;
        width: 10vh;

        align-self: center;

        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    .username {
        display: flex;
        flex-direction: row;

        margin-top: 20px;

        h1 {
            display: inline-flex;
            font-size: 1.5rem;
            font-weight: 600;
            font-family: "Space grotesk", sans-serif;
        }

        span {
            font-size: 0.8rem;
            font-style: italic;
        }

        svg {
            fill: var(--app-color);
            font-size: 0.8rem;
        }

        div {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .indicators {
            display: inline-flex;
            flex-direction: row;

            align-items: center;

            width: fit-content;

            svg {
                font-size: 1.4rem;
            }
        }
    }

    .description {
        margin-top: 20px;

        max-height: 295px;

        overflow: hidden;
        text-overflow: ellipsis;

        h3 {
            margin: 0;
            font-size: 0.9rem;

            height: 100%;

            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .badges {
        display: flex;
        flex-direction: row;

        margin-top: 20px;

        flex-wrap: wrap;

        .badge {
            margin-left: 5px;

            margin-bottom: 5px;
        }
    }

    .userLinks {
        display: flex;
        flex-direction: column;

        margin-top: 20px;

        gap: 10px;

        .userLink {
            display: flex;
            flex-direction: row;

            align-items: center;

            width: fit-content;

            gap: 5px;

            transition: all 0.3s ease-in-out;

            &.clickable {
                cursor: pointer;

                &:hover {

                    svg,
                    p {
                        color: var(--app-color);
                    }
                }
            }

            svg {
                font-size: 1rem;
                margin-right: 0 !important;
                color: var(--text-color);
            }

            p {
                font-size: 0.8rem;
                font-family: "Space grotesk", sans-serif;
                font-weight: 600;

                user-select: text;
            }
        }
    }
}