.background_media_player {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    padding: 10px;

    overflow: hidden;

    border-radius: 12px;

    transition: all 150ms ease-in-out;

    line-height: 40px;

    color: var(--text-color-white);

    background-repeat: no-repeat;

    background-size: cover;

    &.expanded {
        height: 120px;

        .background_media_player__background {
            opacity: 0.4;
        }

        .background_media_player__icon {
            width: 0;
            opacity: 0;
        }

        .background_media_player__title {
            padding: 10px 0;

            h4 {
                word-break: break-all;
                word-wrap: break-word;
                white-space: break-spaces;

                font-size: 1rem;
            }

            p {
                height: 100%;
            }
        }

        .background_media_player__controls {
            margin-top: 10px;
            background-color: var(--text-color-white);
        }
    }

    &.lightBackground {
        color: var(--text-color-black);

        .background_media_player__icon {
            svg {
                color: var(--text-color-black);
            }
        }

        .background_media_player__title {
            color: var(--text-color-black);

            h4,
            p {
                color: var(--text-color-black);
            }
        }

        .background_media_player__controls {
            color: var(--text-color-black);

            .ant-btn {
                color: var(--text-color-black);

                svg {
                    color: var(--text-color-black);
                }
            }
        }
    }

    .background_media_player__background {
        pointer-events: none;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 12px;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        transition: all 150ms ease-in-out;

        opacity: 0;
    }

    .background_media_player__row {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        z-index: 350;

        width: 100%;

        &.hidden {
            pointer-events: none;
            opacity: 0;
            height: 0;
        }
    }

    .background_media_player__icon {
        svg {
            margin-right: 0 !important;
            color: var(--text-color-white);
        }

        &.bounce {
            animation: bounce 1s infinite;
        }
    }

    .background_media_player__title {
        display: flex;
        flex-direction: column;

        justify-content: center;

        max-height: 67px;

        height: 100%;

        transition: all 150ms ease-in-out;

        color: var(--text-color-white);

        width: 100%;
        height: 100%;

        overflow: hidden;

        //gap: 16px;

        h4 {
            line-height: 1rem;

            font-size: 0.8rem;
            font-weight: 600;

            margin: 0 0 0 10px;

            height: 100%;

            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;

            font-family: "Space Grotesk", sans-serif;
            color: var(--text-color-white);
        }

        p {
            line-height: 0.8rem;

            font-size: 0.7rem;
            font-weight: 400;

            margin: 0 0 0 10px;

            height: 0;

            justify-content: flex-end;

            font-family: "Space Grotesk", sans-serif;
            color: var(--text-color-white);
        }

        .marquee-container {
            width: 100%;

            .overlay {
                width: 100%;
            }
        }
    }

    .background_media_player__controls {
        display: flex;
        flex-direction: row;

        align-self: flex-end;
        align-items: center;
        justify-content: space-evenly;

        width: 100%;

        color: var(--text-color-white);

        background-color: var(--text-color-black);

        border-radius: 12px;

        opacity: 0.5;

        .ant-btn {
            color: var(--text-color-black);

            background-color: transparent;

            svg {
                color: var(--text-color-black);
            }
        }
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-3px);
    }
}